@import '~@angular/material/theming';
@import '../../palette';
.list-card-properties {
  margin-top: 5rem;
  margin-bottom: 3.2rem;
}

.list-card{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-properties {
  display: flex;
  flex-direction: column;
  min-height: 43rem;
  @media screen and (max-width:992px) {
    margin-top: 3.2rem;
  }
  @media screen and (max-width:575px) {
    margin-left: auto;
    margin-right: auto;
      }

  max-width: 40rem;
  cursor: pointer;
}

.card-properties-type {
  display: block;
  font-size: 1.2rem;
}
.card-properties-address {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 900;
  font-size: 1.8rem;
}

.card-properties-features{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.card-properties-features-bedrooms{
  display: flex;
  align-items: center;
}

.icon{
  color:mat-color($itau-primary, 500)
 }

.card-properties-features-bedrooms-quantity{
  display: inline-block;
  margin-left: 0.8rem;
}

.card-properties-features-area {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.card-properties-price{
  margin-top: auto;

}

.card-properties-price-rent{
  display: inline-block;
  font-size: 1.2rem;

}

.card-properties-price-total{
  margin-top: 0.8rem;
  font-weight: 900;
  color:mat-color($itau-primary, 500) ;
}

.details-actions{
  padding: 0;
  margin-top: 1rem;
  a{
    display: block;
    text-transform: uppercase;
  }
}
