<div class=" container list-card-properties">
  <div class="cards-container row">
    <div class="card-container col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let imovel of imoveis$; index as i">
      <mat-card routerLink="/imoveis/{{i}}" class="card-properties">
        <img mat-card-image src="{{ imovel.image }}" alt="apartamento">
        <mat-card-content class="list-card">
          <div>
            <span class="card-properties-type">
              {{imovel.type}}
            </span>
            <span class="card-properties-address">
              {{imovel.address}}
            </span>
          </div>
          <div class="card-properties-neighborhood">
            <span>
              {{imovel.neighborhood}},
            </span>
            <span>
              {{imovel.city}}
            </span>
          </div>
          <div class="card-properties-features">
            <span class="card-properties-features-bedrooms">
              <mat-icon class="icon" aria-hidden="false" aria-label="Quantidade de Dormitórios">bed</mat-icon>
              <span class="card-properties-features-bedrooms-quantity">
                {{imovel.bedrooms}}
              </span>
            </span>
            <span class="card-properties-features-area">
              <mat-icon class="icon" aria-hidden="false" aria-label="área total'">architecture</mat-icon>
              {{imovel.totalArea}} m²
            </span>

          </div>
          <div class="card-properties-price">
            <div class="card-properties-price-rent">
              Aluguel {{imovel.rentValue | currency: 'BRL'}}
            </div>
            <div class="card-properties-price-total">
              Total {{imovel.totalCost | currency: 'BRL'}}
            </div>
          </div>
          <div class="details-actions">
            <a routerLink="/imoveis/{{i}}" mat-raised-button color="primary">ver detalhes</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>