<mat-toolbar class="toolbar" color="primary">
  <img class="logo" src="../../assets/images/logo_itau.png" alt="logo itau">
  <span>Lista de Imóveis</span>
  <div>
    <mat-form-field>
      <input matInput type="search" [formControl]="queryField" placeholder="Buscar por cidade" class="search-input"
        (input)="inputChange()">
    </mat-form-field>
    <button mat-icon-button color="black" aria-label=" icon button with a search icon">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>
