/* For use in src/lib/core/theming/_palette.scss */
$itau-primary: (50 : #fdeee1,
  100 : #f9d5b4,
  200 : #f6ba82,
  300 : #f29e4f,
  400 : #ef892a,
  500 : #ec7404,
  600 : #ea6c03,
  700 : #e76103,
  800 : #e45702,
  900 : #df4401,
  A100 : #ffffff,
  A200 : #ffddd3,
  A400 : #ffb6a0,
  A700 : #ffa386,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));
